body {
    height: 240px;
    width: 360px;
    padding: 6px;
    margin: 10px;
    font-family: 'FiraSans';
}

h1 {
  color: #222;
  font-weight: 200;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 38px;
}

.logo {
  margin-right: 12px;
  display: inline-block;
}

input {
  display: inline-block;
  position: relative;
  bottom: 12px;
  font-size: 16px;
  width: 85%;
}

a {
  color: #13A99D;
}

.result h2 {
  -webkit-margin-after: 0;
}

.result p {
  -webkit-margin-before: 0;
  margin-bottom: 1em;
}
/*
.result p.abstract {
  -webkit-margin-before: 0;
  overflow: scroll;
  text-overflow: ellipsis;
  height: 4em;
  width: 100%;
  white-space: nowrap;
}*/

.result h2 {
  font-size: 16px;
}

.result a {
  text-decoration: none;
}

.result p {
  font-size: 14px;
}

#log {
  text-align: center;
  color: #ccc;
}